::selection{
	background:#8ee002;
	color: black;
	text-shadow:none
}

  .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */}  
  

  ::-webkit-scrollbar {
  display: none;
  }

   body, html {
   overflow-x: hidden;
   }

   body {
    display:flex;
    min-height:100vh;
    flex-direction:column;
    background-color: #DDDDDD;
    cursor:url(../static/cursors/cursor-4.png) 25 25, pointer;
    overflow-x: hidden;
  position: relative;
  }

  .main-content{flex:1;}

  .closeButton{
    width: 3%;
    float: right;
    right: 2%;
    top: 1.5%;
    position: absolute;
    z-index: 100;
    cursor:url(../static/cursors/cursor-3.png) 25 25, pointer;
  }
  
  #right{
    display: block;
    float: right;
    margin-left: 18%;
    margin-top: 9%;
  }

  .synthesis {
    margin-top:2%;
    width: 100%;
  }

  .teachers {
    margin-top:4%;
    width: 30%;
    float: left;
    margin-right: 20%;
  }

  .assistants {
    margin-top:4%;
    width: 30%;
    float: left;
  }

  .students {
    margin-top:4%;
    width: 30%;
    float: left;
  }

  .legit {
  position: absolute;
  color:white;
  font-family:Helvetica;
  font-size: 1.6vw;
  font-weight: 300;
  width: 100%;
  height: auto;
  margin-top: 28%;
  }

  .never {
  position: absolute;
  color:white;
  margin-top:0%;
  font-family:Helvetica;
  font-size: 1.6vw;
  font-weight: 300;
  width: 100%;
  height: auto;
  margin-top: 45%;
  }

  .jk{
    position:absolute;
    margin-top: -48%;
    margin-left: -53%;
    width:100%;
    height:auto;
    transform: scale(0.1);
    z-index: -1;
  }

  .teachersimg{
    position:absolute;
    margin-top: -157%;
    margin-left: -35%;
    width:100%;
    height:auto;
    transform: scale(0.03);
  }

  .assistimg{
    position:absolute;
    margin-top: -121%;
    margin-left: 5%;
    width:100%;
    height:auto;
    transform: scale(0.03);
  }

  .teamimg{
    position:absolute;
    width: 50%;
    margin-left: 45%;
    margin-top: 35%;
  }

  .title {
    color:#8ee002; 
    text-align: left;
    font-size: 4vw;
    font-family: Bastardo;
    font-weight: bold;
    height: auto;
    margin-bottom: 2%;
  }
  
  .text{
    color: rgb(94, 94, 94); 
    text-align: left;
    font-size: 2vw;
    font-family: Bastardo;
    font-weight: 500;
    height: auto;
  }
  
  @media only screen and (max-width:586px){

    .closeButton{
      width: 5%;
    }
    
    #right {
    width: 99%;
    margin-top: 15%;
    }

    .text{
      font-size:3.5vw;
    }
  
    .title{
      font-size:5vw;
      margin-bottom: 4%;
    }

    .jk{
      display: none;
    }

    .legit {
      font-size:2.5vw;
      margin-top: 48%;
      }
    
    .never {
      font-size:2.5vw;
      margin-top: 74%;
    }

    .teachers{
      margin-left: 45%;
      width: 60%;
    }


    .teachersimg{
      transform: scale(0.06);
      margin-top: -135%;
      margin-left: -11%;
    }

    .assistants {
      margin-left: 45%;
      margin-top: 10%;
      width: 60%;
    }

    .assistimg {
      transform: scale(0.06);
      margin-left: -11%;
      margin-top: -72%;
    }

    .teamimg{
      width: 70%;
      margin-left: 22%;
      margin-top: 92%;
    }

    .students {
      margin-left: 45%;
      margin-top: 50%;
      margin-bottom: 5%;
      width: 60%;
    }

  }

  @media only screen and (max-width:400px){

    .text{
      font-size:5vw;
    }
  
    .title{
      font-size:6.5vw;
    }

    .legit {
      font-size:3vw;
      margin-top: 63%;
      }
    
    .never {
      font-size:3vw;
      margin-top: 95%;
    }

    .teachersimg{
      margin-top: -120%;
    }

    .assistimg {
      transform: scale(0.06);
      margin-left: -11%;
      margin-top: -50%;
    }
    .teamimg{
      width: 70%;
      margin-left: 22%;
      margin-top: 118%;
    }
  }

  .lookUp{
    float: left;
    margin-top: 30%;
    margin-left: 45%;
    width: 10%;
    height: 65vh;
    display: none;
    overflow: hidden;
  }
  
  .lookUp-text{
    -webkit-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    transform:rotate(-90deg);
    float: left;
    margin: 440%;
    width: 900%;
    font-size: 5vw;
    color: white;
    font-family: Bastardo;
    font-weight: 300;
    margin-left: -400%;
  }
  .lookUp-arrows{
    font-family: Bastardo;
    font-weight: bold;
  }
  
  @media only screen and (max-width:400px){
    .lookUp{
      display: block;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }
  
  footer {
    margin-top: 1%;
    font-family: Bastardo;
  }
  
  #data1 {
    font-size: 1vw; 
    float: left; 
    width: 25%;
    padding-top: 1%;
    padding-bottom: 2%;
    color: white;
  }
  
  #data2 {
    font-size: 1vw;
    float: right; 
    text-align: right; 
    width: 25%;  
    padding-top: 1%;
    padding-bottom: 2%;
    color: white;
  }

  @media only screen and (max-width:1280px){
    #data1 {
    font-size: 1.1vw;
    }
  
    #data2 {
    font-size: 1.1vw;
    }
  }
  
  @media only screen and (max-width:586px){
    #data1 {
      font-size: 2vw;
      }
  
      #data2 {
      font-size: 2vw;
      }
  }