
.beThe{
  position: relative;
  color: black; 
  text-align: left;
  font-size: 15.5vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin:0%;
  margin-top:-1%;
  letter-spacing: -5;
  width: 100%;
  height: auto;

}


.best{
  position: relative;
  color: black; 
  text-align: left;
  font-size: 15.5vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin:0%;
  margin-top: -11%;
  margin-left: 48.5%;
  letter-spacing: -5;
  width: 100%;
  height: auto;
}

.atYour{
  position: relative;
  color: black; 
  text-align: left;
  font-size: 15.5vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin:0%;
  margin-top:-16%;
  margin-left: 21%;
  letter-spacing: -5;  width: 100%;
  height: auto;
}

.worst{
  position: relative;
  color: black; 
  text-align: left;
  font-size: 15.5vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin: auto;
  margin-left: 45%;
  margin-top: -10%;
  letter-spacing: -5;  width: 100%;
  height: auto;
}

@media only screen and (max-width:586px){

	.beThe{
		font-size:800%;
    text-align: left;
    margin-left: 20%;
    
	}

  .best{
		font-size:800%;
    margin-left: 39%;
    margin-top: -10%;
    text-align: left;
    
	}

  .atYour{
		font-size:800%;
    margin-left: 13%;
    margin-top: -10%;
    text-align: left;
    
    
	}

  .worst{
		font-size:800%;
    margin-left: 23%;
    margin-top: -10%;
    
	}
}

.outstanding{
  color: black; 
  text-align: left;
  margin-left: 7%;
  margin-top: 4%;
  font-size: 200%;
  font-family: Helvetica;
  font-weight: 500;  width: 100%;
  height: auto;
  font-size: 2.5vw;
}

@media only screen and (max-width:586px){

	.outstanding{
		font-size:190%;
    font-weight: 500;
    width: 72%;
	}
}

.outstanding a{
  color: black; 
  text-align: left;
  font-family: Helvetica;
  font-weight: 500;  width: 100%;
  height: auto;

}

.outstanding a:hover{
  text-decoration: underline;
  color: black; 
}

.video{
  display:block;
  margin-left:40%; 
  position:relative;
  width:58vw;
  height:67vh;
}

@media only screen and (max-width:586px){

	.video{
    margin-top: 17%;
    width:100%;
    height:auto;
	}
}



.howTo {
  margin-left: 7%;
  width: 100%;
  height: 100%;  width: 100%;
  height: auto;
}

.sickEvents {
  margin-left: 7%;
  font-family: Bastardo;
  font-size: 5vw;
  font-weight: 800;  
  width: 100%;
  height: auto;
}

@media only screen and (max-width:586px){

	.sickEvents{
		font-size:8vw;
    
	}
}

.collecting {
  position:absolute;
  margin-top:20%;
  margin-left: 7%;
  font-family:Helvetica;
  font-size: 1.5vw;
  font-weight: 300;  width: 100%;
  height: auto;
}


.yesYou {
  position:absolute;
  margin-top:40%;
  margin-left: 7%;
  font-family:Helvetica;
  font-size: 1.5vw;
  font-weight: 300;  width: 100%;
  height: auto;
}

.lazy {  
  width: 100%;
  height: auto;
  position:absolute;
  margin-top:90%;
  margin-left: 7%;
  font-family:Helvetica;
  font-size: 1.5vw;
  font-weight: 300;
}


@media only screen and (max-width:586px){

	.collecting{
		font-size:2.5vw;
    font-weight: 500;
    margin-top:29%;
	}

  .yesYou{
		font-size:2.5vw;
    font-weight: 500;
    margin-top:76%;
	}

  .lazy{
		font-size:2.5vw;
    font-weight: 500;
    margin-top:195%;
	}
}

.scroll {
  width: 100%;
  display:flex;
  outline: 3px solid black;
}

.scroll .tick{
  font-size: 2em;
  font-family: Bastardo;
  white-space: nowrap;
  animation: animate 40s linear infinite;
  animation-delay: -40s;
  padding: 1vw;
}

.scroll .tick:nth-child(2){
  animation: animate2 40s linear infinite;
  animation-delay: -20s;
}

@keyframes animate{

  0%
  {
    transform: translateX(100%);
  }

  100%
  {
    transform: translateX(-100%);
  }
}

@keyframes animate2{

  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(-200%);
  }
}


.item
{
    float: left;
    margin-right: 5px;
      
}
/* mettere width responsive e trasformare di 0,6*/

img {
  width: 584px;
  height: 413px; 
}

.Carousel1
{
    transition: transform .5s;
    margin-left: 7%;

    margin-top: 2%;
    display: inline-block;
}
.content1
{
    position: relative;
}


.Left,.right
{
    background: url(https://i.postimg.cc/rFxP1K3b/left.png) no-repeat white center;
    border-radius: 50%;
    position: absolute;
    margin-left: 20px;
    top: 50%;
    margin-top: -20px;
    background-size: 30px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.right
{
   right: 15px;
   background-image: url(https://i.postimg.cc/GmV2DgDd/4beb4317ebb605abb3096d9a1b5dbde4.png);
}

@media only screen and (max-width:586px){

	.img{
		width: 1px;
    height: 103.25px;
	}

  .yesYou{
		font-size:2.5vw;
    font-weight: 500;
    margin-top:76%;
	}

  .lazy{
		font-size:2.5vw;
    font-weight: 500;
    margin-top:195%;
	}
}

