@media only screen and (max-width:586px){

	body, html {
		overflow-y: hidden;
		}

	body{
		overflow-x: hidden;
    	width: 100%;
    	-webkit-box-sizing: border-box;
      	-moz-box-sizing: border-box;
        box-sizing: border-box;
}
}

@media only screen and (max-width:586px){
	iframe {
	display: block;       /* iframes are inline by default */
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 80vw;
	border: none;
	margin-right: 12%;
	margin-top: -1%;
	overflow-x: hidden;
	}
}

@media only screen and (min-width:587px){
	.page:hover{
		-webkit-transform:translateX(1vw);
		-ms-transform:translateX(1vw);
		transform:translateX(1vw)
	}
	.page.is-active{
		cursor:auto;
		overflow-y:scroll
	}
	.page.is-active:hover{
		-webkit-transform:translateX(0);
		-ms-transform:translateX(0);
		transform:translateX(0)
	}
	.page.is-slided{
		-webkit-transform:translateX(-81vw);
		-ms-transform:translateX(-81vw);
		transform:translateX(-81vw)
	}
	.page.is-slided:hover{
		-webkit-transform:translateX(-80vw);
		-ms-transform:translateX(-80vw);
		transform:translateX(-80vw)
	}
}

@media only screen and (max-width:586px){
	.page{
		width:100vw;
		height:auto;
		position:relative;
		z-index:1!important
}
}
@media only screen and (max-width:586px){
	.page .snap{
		height:auto;
}
}

@media only screen and (max-width:586px){
	.page .snap.intro{
		font-size:1.1rem;
		line-height:1.5em;
		padding-top:0em;
		margin-top:50px
}
}

@media only screen and (max-width:586px){
	.page .header{
		padding:50px 0 0 0;
		width:100%
}
}

@media only screen and (max-width:586px){
	.page .header .module{
		height:auto
}
}

@media only screen and (max-width:586px){
	.page .header .page_cover{
		padding-bottom:60%;
		margin-bottom:0;
		height:auto
}
}

@media only screen and (min-width:587px){
	.page:hover{
		-webkit-transform:translateX(1vw);
		-ms-transform:translateX(1vw);
		transform:translateX(1vw)
}
}

@media only screen and (max-width:586px){
	.page.n4{
		left:0;
		top: 0;
	}

	.profileHidden{
		display: none;
	}

	.profileOpen {
		left:0;
		top: 0;
		position: absolute;
	}
}

@media only screen and (max-width:586px){
	.page.n3{
		left:0;
		top: 0;
	}

	.shopHidden{
		display: none;
	}

	.shopOpen {
		left:0;
		top: 0;
		position: absolute;
	}
}

@media only screen and (max-width:586px){
	.page.n2{
		left:0;
		top: 0;
}
	.rankHidden{
		display: none;
	}

	.rankOpen {
		left:0;
		top: 0;
		position: absolute;
	}
}

@media only screen and (max-width:586px){
	.page.n1{
		left:0;
		top: 0;
	}

	.aboutHidden{
		display: none;
	}

	.aboutOpen {
		left:0;
		top: 0;
		position: absolute;
	}
}

@media only screen and (max-width:586px){
	.page.n0{
		left:0;

		display: none;
	}

	.front.page{
        width: 100%;
    }

	.frontHidden{
		display: none;
	}

	.frontOpen {
		left:0;

		position: absolute;
	}
}

@media only screen and (max-width:586px){
	.about{
		font-size:5vw;
		margin-left: -1%;
		margin-top: 7%;
		position: fixed;
	}
}

@media only screen and (max-width:586px){
	.rankings{
		font-size:5vw;
		margin-left: -4%;
		margin-top: 10%;
		position: fixed;
}
}

@media only screen and (max-width:586px){
	.shop{
		font-size:5vw;
		margin-left: -1%;
		margin-top: 5%;
		position: fixed;
}
}

@media only screen and (max-width:586px){
	.personal{
		font-size:5vw;
		margin-top: 6%;
		position: fixed;
		margin-left: -1%;
}
}

@media only screen and (max-width:586px){

	.sicko{
	font-size: 7vw;
	margin-top: 6%;
	margin-left: -3%;
	position: fixed;
	}
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}


/* iOS Safari */
.menu {
    display: none;
    padding: 2%;
    padding-bottom: 2%;
    top: 0;
    right: 0;
    z-index: 90;
    background-color: black;
    width: 4%;
	height: 100%;
    }

    .menuOpen {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 98%;
    height: 100%;
    background: black;
    }

    .menuHidden {
    display: none;
    }

	.menuButton {
		float: right;
		position: fixed;
		padding: 2%;
		padding-bottom: 2%;
		padding-right: 4%;
		top: 0;
		right: 0;
		z-index: 90;
		background-color: black;
		width: 4%;
		height: 100%;
	}

	img{
		width: 150%;

	}

    @media only screen and (max-width:586px){
    .menu {
    display: block;
    }
    }

    .menu-link {
        font-family: Bastardo;
        font-size: 6vw;
        font-weight: 300;
		text-align: right;
        color: white;
        list-style: none;
        padding: 4%;
		float: right;
		border-right: white 1px solid;
		cursor:url(../static/cursors/cursor-medio-3.png) 25 0, pointer;
    }

	.menu-arrow{
		font-family: Bastardo;
		font-size: 15vw;
		font-weight: 300;
		float: right;
		margin-right: 10%;
		padding: 2%;
		cursor:url(../static/cursors/cursor-medio-3.png) 25 0, pointer;
	}
	
	.menu-arrow:hover{
		color: #8ee002;
	}

	.menu-link:hover{
		color: #8ee002;
	}

	.links{
		width: 99%;
		color: white;
		right: 0;
		bottom: 0;
		position: absolute;
		margin-bottom: -7%;
	}

	.row{
		border-top-style: solid;
		border-top-color: white;
		border-top-width: 1px;
		position: relative;
		display: block;
		float: right;
		width: 90%;
		margin-top: -7%;
	  }