body{
  background-color: black;
}

.what{
  position: relative;
  color: white; 
  text-align: left;
  font-size: 17vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin:0%;
  margin-top:0%;
  margin-left:20%;
  letter-spacing: -5;
    width: 100%;
  height: auto;

}


.theHell{
  position: relative;
  color: white; 
  text-align: left;
    font-size: 17vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin:0%;
  margin-top: -5%;
  margin-left: 30%;
  letter-spacing: -5;
    width: 100%;
  height: auto;
}

.isThis{
  position: relative;
  color: white; 
  text-align: left;
    font-size: 17vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin:0%;
  margin-top:-5%;
  margin-left: 28%;
  letter-spacing: -5;
    width: 100%;
  height: auto;
}

.sick0{
  position: relative;
  color: white; 
  text-align: left;
    font-size: 17vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin: auto;
  margin-left: 23.5%;
  margin-top: -5%;
  letter-spacing: -5;
    width: 100%;
  height: auto;
}

@media only screen and (max-width:586px){

	.what{
		font-size:30vw;
    text-align: left;
    margin-left: 28vw;
    margin-top: 10vh;
    
	}

  .theHell{
		font-size:30vw;
    margin-left: 4vw;
    margin-top: -3vh;
    text-align: left;
    
	}

  .isThis{
		font-size:30vw;
    margin-left: 22vw;
    margin-top: -3vh;
    text-align: left;
    
    
	}

  .sick0{
		font-size:30vw;
    margin-left: -1vw;
    margin-top: -3vh;
    
	}
}

.confused {
  position:absolute;
  color:white;
  margin-top:20%;
  margin-left: 10%;
  font-family:Helvetica;
  font-size: 1.5vw;
  font-weight: 300;
    width: 100%;
  height: auto;
}

.foolproof {
  position:absolute;
  color:white;
  margin-top:40%;
  margin-left: 10%;
  font-family:Helvetica;
  font-size: 1.5vw;
  font-weight: 300;
    width: 100%;
  height: auto;
}

@media only screen and (max-width:586px){

	.confused{
		font-size:2.5vw;
    font-weight: 500;
    margin-top:13vh;
	}

  .foolproof{
		font-size:0;
    font-weight: 500;
    margin-top:21.5rem;
	}

}

.textx{
  color: white; 
  text-align: left;
  margin-left: 7%;
  margin-top: 4%;
  font-size: 2.5vw;
  font-family: Helvetica;
  font-weight: 500;
  width: 60vw;
  height: auto;
}

@media only screen and (max-width:586px){

	.text{
		font-size:2.4vh;
    font-weight: 500;
    width: 70vw;
	}

  .text2{
    font-size:2.4vh;
    font-weight: 500;
    width: 70vw;
  
  }
}


.ticker {
	--size: 54ch;
	font-size: 2em;
	font-weight: light;
  margin-top: -1.2%;
	will-change: transform;
  text-align: center;
	animation: ticker 8s infinite linear;
	text-shadow:
		calc( var(--size) + 0.5em ) 0 currentcolor,	
		calc( (var(--size) + 0.5em) * 2 ) 0 currentcolor
	;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color:#8ee002;
}

.scroll2 {
  width: 100%;
  display:flex;
  outline: 0.2vw solid white;
  margin-top:8%;
  margin-bottom:16%;
}

.scroll2 .tick2{
  font-size: 3vw;
  font-family: Bastardo;
  color: white;
  white-space: nowrap;
  animation: animate 40s linear infinite;
  animation-delay: -40s;
  padding: 1vw;
}

.scroll2 .tick2:nth-child(2){
  animation: animate2 40s linear infinite;
  animation-delay: -20s;
}

@keyframes animate{

  0%
  {
    transform: translateX(100%);
  }

  100%
  {
    transform: translateX(-100%);
  }
}

@keyframes animate2{

  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(-200%);
  }
}

iframe{
  width: 650px;
  height: 900px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}