::selection{
	background:#000;
	color:#8ee002;
	text-shadow:none
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

::-webkit-scrollbar {
  display: none;
  }
  
body, html {
  overflow-x: hidden;
  }

body {
    display:flex;
    min-height:100vh;
    flex-direction:column;
    width: 100%;
    cursor:url(../static/cursors/cursor.png) 25 25, pointer;
    overflow-x: hidden;
  position: relative;
}

.main-content{flex:1;}

.login {
    font-family: Bastardo;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 40%;
}

input{
    border-style: solid;
    border-right-style: none;
    border-left-style: none;
    border-width: 1px;
    padding: 6px;
    text-align: center;
    font-size: 1.6vw;  
    margin: 6px;
    width: 100%;
    font-family: Bastardo;
}

a.freccia {
    font-size: 18vw;
    font-family: Bastardo;
    text-align: center;
    text-decoration: none;
    color: #8ee002;
    cursor:url(../static/cursors/cursor-2.png) 25 25, pointer;
}

a.freccia:hover {
    color: rgb(173, 173, 173);
}

text {
    font-size: 1vw;
    font-family: Bastardo;
    text-align: center;
    color: black;
}

a.text:hover{
    color: #8ee002;
}

a.text:active{
  color: black;
}

a {
  color: #000;
}

footer {
    margin-top: 2%;
    font-family: Bastardo;
}

hr {
    height:1px;
    border:none;
    color:rgb(0, 0, 0);
    background-color:rgb(0, 0, 0);
}

#data1 {
    font-size: 1vw; 
    float: left; 
    width: 25%;
    padding-top: 1%;
    padding-bottom: 2%;
}

#data2 {
    font-size: 1vw;
    float: right; 
    text-align: right; 
    width: 25%;  
    padding-top: 1%;
    padding-bottom: 2%;
}

@media only screen and (max-width:1280px){

    .login {
        width: 45%;
    }

    input{
        font-size: 1.5vw;  
    }

    .text{
        font-size: 1.2vw;
    }

    a.freccia {
        font-size: 25vw;
    }

	#data1 {
		font-size: 1.1vw;
    }

    #data2 {
		font-size: 1.1vw;
    }
}

@media only screen and (max-width:586px){

    .login {
        width: 60%;
    }

    input{
        font-size: 3vw;  
    }

    .text{
        font-size: 2.5vw;
    }

    a.freccia {
        font-size: 35vw;
    }

	#data1 {
		font-size: 2vw;
    }

    #data2 {
		font-size: 2vw;
    }
}

.logOut{
  float: right;
  right: 2%;
  top: 1.5%;
  font-size: 2vw;
  font-family: Bastardo;
  font-weight: bold;
  position: absolute;
  z-index: 100;
}

.logOut:hover{
  color: #8ee002;
  cursor:url(../static/cursors/cursor-2.png) 25 25, pointer;
}

.user-section {
    width: 100%;
    padding: 4%;
    float: left;
}

.profile-picture{
    width: 15%;
    float: left;
}

#username{
    font-size: 7vw;
    font-family: Bastardo;
    font-weight: bold;
    padding-top: 2%;
}

.username-box{
    margin-left: 7%;
    float: left;
}

#marker{
    position: absolute;
    width: 40%;
    margin-top: -13%;
    margin-left: -12%;
    z-index: -1;
}

.text2 {
    font-size: 1.6vw;
    font-family: Bastardo;
    text-align: left;
    color: black;
    width: 35%;
}

.title {
    text-align: left;
    font-size: 2vw;
    font-family: Bastardo;
    font-weight: bold;
    height: auto;
    margin-bottom: 1%;
  }

.data {
    font-size: 3vw;
    font-family: Bastardo;
    text-align: left;
    color: black;
    width: 30%;
    font-weight: 500;
}

.data-box {
    float: left;
    width: 15%;
    padding-top: 2%;
}

.description{
    float: left;
    clear: left;
    padding-top: 2%;
    padding-right: 7%;
}

.data-section {
    width: 100%;
    border-top: 1px solid;
}

.challenge{
    width: 45%;
    padding: 2%;
    margin-top: 2%;
    float: left;
}

.challenge-name{
    font-size: 4vw;
    font-family: Bastardo;
    font-weight: bold;
    float: left;
    padding-top: 2%;
    margin-left: 4%;
}

.text-r {
    font-size: 1.6vw;
    font-family: Bastardo;
    text-align: left;
    color: black;
    width: 100%;
    float: left;
    margin-top: 8%;
    height: 30vw;
    overflow: scroll;
}

.row {
    border-top-style: solid;
    border-top-width: 1px;
    padding: 1vw;
    height: 4vw;
  }
  
  .row.white{
    color: #ffffff;
  }
  
  .row.green{
    color: #8ee002;
  }
  
  .left {
    width: 25%;
    float: left;
  }
  
  .right {
    float: right;
    border-left-style: solid;
    border-left-width: 1px;
    width: 73%;
  }
  
  .ranking {
    float: left;
    padding: 1vw;
  }
  
  img.players {
    width: 4vw;
    float: right;
  }
  
  .username {
    float: left;
    margin-left: 1vw;
    padding: 1vw;
    font-weight: bold;
  }
  
  .icks {
    float: right;
    padding: 1vw;
  }
  
  @media only screen and (max-width:586px){
    .left {
      width: 25%;
    }
    
    .right {
      width: 70%;
    } 
  
    .row {
      padding: 1.5vw;
      height: 4.5vw;
    }
  
    img.players {
      width: 4.5vw;
      float: right;
    }
  
    .username {
      margin-left: 1.5vw;
      padding: 1.5vw;
      font-size: 2.2vw;
    }
  
    .icks {
      padding: 1.5vw;
    }
  
    .ranking {
      padding: 1.5vw;
    }
  }
