body {
    display:flex;
    min-height:100vh;
    flex-direction:column;
}

.main-content{flex:1;}

.login {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 40%;
}

input{
    border-style: solid;
    border-right-style: none;
    border-left-style: none;
    border-width: 1px;
    padding: 6px;
    text-align: center;
    font-size: 1.6vw;  
    margin: 6px;
    width: 100%;
}

a.freccia {
    font-size: 18vw;
    font-family: Bastardo;
    text-align: center;
    text-decoration: none;
    color: #8ee002;
}

a.freccia:hover {
    color: rgb(173, 173, 173);
}

.text {
    font-size: 1vw;
    font-family: Bastardo;
    text-align: center;
    color: black;
}

a.text:hover{
    color: #8ee002;
}

footer {
    margin-top: 2%;
}

hr {
    height:1px;
    border:none;
    color:rgb(0, 0, 0);
    background-color:rgb(0, 0, 0);
}

#data1 {
    font-size: 1vw; 
    float: left; 
    width: 25%;
    padding-top: 1%;
    padding-bottom: 2%;
}

#data2 {
    font-size: 1vw;
    float: right; 
    text-align: right; 
    width: 25%;  
    padding-top: 1%;
    padding-bottom: 2%;
}

@media only screen and (max-width:1280px){

    .login {
        width: 45%;
    }

    input{
        font-size: 1.5vw;  
    }

    .text{
        font-size: 1.2vw;
    }

    a.freccia {
        font-size: 25vw;
    }

	#data1 {
		font-size: 1.1vw;
    }

    #data2 {
		font-size: 1.1vw;
    }
}

@media only screen and (max-width:586px){

    .login {
        width: 60%;
    }

    input{
        font-size: 3vw;  
    }

    .text{
        font-size: 2.5vw;
    }

    a.freccia {
        font-size: 35vw;
    }

	#data1 {
		font-size: 2vw;
    }

    #data2 {
		font-size: 2vw;
    }
}