::selection{
	background: black;
	color: #8ee002;
	text-shadow:none
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body{
  background-color: #888787;
  cursor:url(../static/cursors/cursor.png) 25 25, pointer;
}

.main-content{flex:1;}

.headtitle {
  margin-top: 3%;
  margin-bottom: 15%;
}

.the10{
  position: relative;
  color: black; 
  text-align: left;
  font-size: 18vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin-left:0%;
  margin-top:0%;
}

.angriest{
  position: relative;
  color: black; 
  text-align: left;
  font-size: 18vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin-left:15%;
  margin-top:-22%;
}

.histerical{
  position: relative;
  color: black; 
  text-align: right;
  font-size: 18vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin-top:-19%;
  margin-left:10%;
}

.bitches{
  position: relative;
  color: black; 
  text-align: left;
  font-size: 18vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin:0%;
  margin-top:-20%;
  margin-left: 20%;
}

@media only screen and (max-width:586px){

  .headtitle{
    margin-top: 7%;
    margin-bottom: 25%;
  }

	.the10{
		font-size:26vw;
    text-align: right;
    margin-left: 0%; 
    margin-top: 0%;
	}

  .angriest{
		font-size:26vw;
    text-align: right;
    margin-left: 0%;
    margin-top: -29%;
	}

  .histerical{
		font-size:26vw;
    text-align: right;
    margin-left:0%;
    margin-right:0%;
    margin-top: -27%;
	}

  .bitches{
		font-size:26vw;
    text-align: right;
    margin-left: 0%;
    margin-top: -27%;
	}
}

.freccia {
  font-family: bastardo;
  font-size: 20vw;
  float: right;
  margin-top: -10%;
  color: black;
}

.weknow {
  position:absolute;
  color:black;
  margin-top:32%;
  font-family:Helvetica;
  font-size: 1.6vw;
  font-weight: 300;
  width: 100%;
  height: auto;
}

.weknow2 {
  position:absolute;
  color:black;
  margin-top:54%;
  font-family:Helvetica;
  font-size: 1.6vw;
  font-weight: 300;
  width: 100%;
  height: auto;
}

@media only screen and (max-width:586px){

	.weknow{
		display: none;
	}

  .weknow2{
		font-size:2.5vw;
    margin-top:6%;
	}

  .freccia{
    font-size: 35vw;
    margin-right: -3%;
    margin-top: -14%;
  }
}


.text {
  font-family: Bastardo;
  font-size: 1.6vw;
}

@media only screen and (max-width:586px){
  .text {
    font-size: 3.5vw;
  }   
}

.could{
  width: 60%;
  margin-top: -5%;
  margin-bottom: -2%;
  z-index: 3;
}

.row {
  border-top-style: solid;
  border-top-width: 1px;
  padding: 1vw;
  height: 4vw;
}

.row.white{
  color: #ffffff;
}

.row.green{
  color: #8ee002;
}

.left {
  width: 25%;
  float: left;
}

.right {
  float: right;
  border-left-style: solid;
  border-left-width: 1px;
  width: 73%;
}

.ranking {
  float: left;
  padding: 1vw;
}

img.players {
  width: 4vw;
  float: right;
}

.username {
  float: left;
  margin-left: 1vw;
  padding: 1vw;
  font-weight: bold;
}

.icks {
  float: right;
  padding: 1vw;
}

@media only screen and (max-width:586px){
  .left {
    width: 25%;
  }
  
  .right {
    width: 70%;
  } 

  .row {
    padding: 1.5vw;
    height: 7vw;
  }

  img.players {
    width: 7vw;
    float: right;
  }

  .username {
    margin-left: 1.5vw;
    padding: 1.5vw;
  }

  .icks {
    padding: 1.5vw;
  }

  .ranking {
    padding: 1.5vw;
  }
}

#marquee-2{
  margin-top: 4%;
  margin-bottom: 4%;
}

.marquee {
  width: 100%;
  display:flex;
  border: 2px solid  white;
  border-right-style: none ;
  border-left-style: none ;
  overflow: hidden;
}

.marquee .marquee-text{
  font-size: 2.5vw;
  font-family: Bastardo;
  color: white;
  white-space: nowrap;
  animation: animate 40s linear infinite;
  animation-delay: -40s;
  padding: 1vw;
}

.marquee .marquee-text:nth-child(2){
  animation: animate2 40s linear infinite;
  animation-delay: -20s;
}

@keyframes animate{

  0%
  {
    transform: translateX(100%);
  }

  100%
  {
    transform: translateX(-100%);
  }
}

@keyframes animate2{

  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(-200%);
  }
}

@media only screen and (max-width:586px){

	.marquee .marquee-text{
    font-size: 4vw;
  }
}



hr {
  width: 100%;
  height:1px;
  border:none;
  color:rgb(0, 0, 0);
  background-color:rgb(0, 0, 0);
}

footer {
  margin-top: 2%;
  font-family: Bastardo;
}

#data1 {
  font-size: 1vw; 
  float: left; 
  width: 25%;
  padding-top: 1%;
  padding-bottom: 2%;
}

#data2 {
  font-size: 1vw;
  float: right; 
  text-align: right; 
  width: 25%;  
  padding-top: 1%;
  padding-bottom: 2%;
}


@media only screen and (max-width:1280px){
  #data1 {
    font-size: 1.1vw;
    }
  
    #data2 {
    font-size: 1.1vw;
    }
}
  
@media only screen and (max-width:586px){
  #data1 {
        font-size: 2vw;
    }

    #data2 {
        font-size: 2vw;
    }
}

::-webkit-scrollbar {
  display: none;
  }