body {
  background-color: #DDDDDD;
}

.if{
  position: relative;
  color: black; 
  text-align: left;
  font-size: 15vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin:0%;
  margin-top:0%;
  letter-spacing: -10;

}

.angry{
  position: relative;
  color: black; 
  text-align: left;
  font-size: 15vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin:0%;
  margin-top:-6%;
  margin-left: 6%;
  letter-spacing: -10;
}

.know{
  position: relative;
  color: black; 
  text-align: left;
  font-size: 15vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin:0%;
  margin-top:-3%;
  margin-left: 28%;
  letter-spacing: -5;
}

.buy{
  position: relative;
  color: black; 
  text-align: left;
  font-size: 15vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin: auto;
  margin-left: 15%;
  margin-top: -7%;
  letter-spacing: -5;
}

.ticker {
	--size: 54ch;
	font-size: 2em;
	font-weight: light;
  margin-top: -1.2%;
	will-change: transform;
  text-align: center;
	animation: ticker 8s infinite linear;
	text-shadow:
		calc( var(--size) + 0.5em ) 0 currentcolor,	
		calc( (var(--size) + 0.5em) * 2 ) 0 currentcolor
	;
}

.container{
  margin-top: 50px;
}

.shopnow {
  font-family: Bastardo;
  font-size: 5vw;
  font-weight: 800;  width: 100%;
  height: auto;
  position: relative;
}

hr {
  width: 100%;
  size: 2;
  color: black;
  position: relative;
}


div.text {
  margin: 0%;
  font-size: 19pt;
}

div.bold {
  margin: 0%;
  font-size: 19pt;
  font-weight: bold;
}

.grid-element {
  margin: 0%;
  float: left;
  width: 29%;
  padding-top: 7px;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  margin: 0%;
  font-size: 20pt;
  font-weight: bold;
  color: #9b9b9b;
  text-decoration: none;
}

a:hover {
  color: #8ee002;
}

iframe {
  margin-top: 0%;
  margin-left: 7%;
  width: 80%;
  height: 600px;
  float: left;
  border-style: none;
}

.wireframe{
  float: left;
  margin-top: 18%;
  position: relative;
}

.buybox{
  border-color: black;
  border-style: solid;
  border-width: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 7px;
  padding-left: 7px;
  position: relative;
  float: right;
  margin: 4px;
}

@media only screen and (max-width:586px){

	.if{
		font-size:30vw;
    text-align: right;
    margin-right:4vw;
    letter-spacing: -5px;
    line-height: 120%;
    margin-top: 10vh;
    
	}

  .angry{
		font-size:30vw;
    text-align: right;
    margin-right:4vw;
    letter-spacing: -5px;
    line-height: 90%;
	}

  .know{
		font-size:30vw;
    text-align: right;
    margin-left:0vw;
    margin-right:4vw;
    letter-spacing: -5px;
	}

  .buy{
		font-size:30vw;
    text-align: right;
    margin-left:0vw;
    margin-right:4vw;
    letter-spacing: -5px;
    line-height: 90%;
	}
}

