::selection{
	background: black;
	color: #8ee002;
	text-shadow:none
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
  display:flex;
    min-height:100vh;
    flex-direction:column;
  background-color: #DDDDDD;
  cursor:url(../static/cursors/cursor-2.png) 25 25, pointer;
}

.main-content{flex:1;}

.headtitle {
  margin-top: 2%;
}

.if{
  position: relative;
  color: black; 
  text-align: left;
  font-size: 18vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin-top:-1%;
  margin-top:0%;
  letter-spacing: -10;
}

.angry{
  position: relative;
  color: black; 
  text-align: right;
  font-size: 17.5vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin-top:-21%;
  margin-left: 6%;
  letter-spacing: -10;
}

.know{
  position: relative;
  color: black; 
  text-align: left;
  font-size: 18vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin-top:-18%;
  margin-left: 28%;
  letter-spacing: -5;
}

.buy{
  position: relative;
  color: black; 
  text-align: left;
  font-size: 18vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin: auto;
  margin-left: 15%;
  margin-top: -21%;
  letter-spacing: -5;
}

@media only screen and (max-width:586px){

	.if{
		font-size:26vw;
    text-align: right;
    margin-left: 0;
	}

  .angry{
		font-size:26vw;
    text-align: right;
    letter-spacing: 0;
    line-height: 80%;
    margin-left: 0;
    margin-top: -26%;
	}

  .know{
		font-size:26vw;
    text-align: right;
    margin-left: 0;
    letter-spacing: 0;
    margin-top: -26%;
	}

  .buy{
		font-size:26vw;
    text-align: right;
    margin-left: 0;
    letter-spacing: 0;
    line-height: 85%;
    margin-top: -28%;
	}
}

.weknow {
  position:absolute;
  color:black;
  margin-top:21%;
  font-family:Helvetica;
  font-size: 1.6vw;
  font-weight: 300;
  width: 100%;
  height: auto;
}

.promise {
  position:absolute;
  color:black;
  margin-top:49%;
  font-family:Helvetica;
  font-size: 1.6vw;
  font-weight: 300;
  width: 100%;
  height: auto;
}

.freccia {
  font-family: bastardo;
  font-size: 20vw;
  float: right;
  margin-top: -10%;
}

@media only screen and (max-width:586px){

	.promise{
		font-size:2.5vw;
    margin-top:53%;
	}

  .weknow{
		font-size:2.5vw;
    margin-top:122%;
	}

  .freccia{
    font-size: 35vw;
    margin-right: -3%;
    margin-top: -14%;
  }
}

.shopimg{
  width: 100%;
  margin-top: -3%;
}

.container{
  margin-top: 5vw;
}

.shopnow {
  width: 30%;
  position: absolute;
  margin-left: 0%;
  margin-top: -10%;
}

hr {
  width: 100%;
  height:1px;
  border:none;
  color:rgb(0, 0, 0);
  background-color:rgb(0, 0, 0);
}


.text {
  margin: 0%;
  font-size: 2vw;
  font-family: Bastardo;
}

div.bold {
  margin: 0%;
  font-weight: bold;
  font-size: 2vw;
  font-family: Bastardo;
}

.grid-element {
  margin: 0%;
  float: left;
  width: 31%;
  padding-top: 0.7vw;
  padding-bottom: 1.4vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

a {
  margin: 0%;
  font-size: 7vw;
  font-weight: 300;
  color: #9b9b9b;
  text-decoration: none;
  font-family: Bastardo;
}

a:hover {
  color: #8ee002;
  cursor:url(../static/cursors/cursor.png) 25 25, pointer;
}

@media only screen and (max-width:586px){

  .shopimg{
    width: 100%;
    margin-top: -5%;
    margin-bottom: 10%;
  }
  
  .shopnow {
    width: 50%;
    margin-top: -17%;
  }
  
  .products {
    float: right;
    position: absolute;
    width: 50%;
    display: block;
  }
  
  .description-box{
    float: left;
    margin-left: 53%;
    position: absolute;
    width: 45%;
  }

  .price-box {
    float: left;
    margin-left: 55%;
    margin-top: 21%;
  }

  .text {
    font-size: 3.5vw;
    font-family: Bastardo;
  }

  div.bold {
    font-size: 3.5vw;
  }

  .grid-element{
    margin-bottom: -2.5%;
  }
}

#marquee-2{
  margin-top: 4%;
  margin-bottom: 2%;
}

.marquee {
  width: 100%;
  display:flex;
  border: 2px solid #8ee002;
  border-right-style: none ;
  border-left-style: none ;
  overflow: hidden;
}

.marquee .marquee-text{
  font-size: 2.5vw;
  font-family: Bastardo;
  color: #8ee002;
  white-space: nowrap;
  animation: animate 40s linear infinite;
  animation-delay: -40s;
  padding: 1vw;
}

.marquee .marquee-text:nth-child(2){
  animation: animate2 40s linear infinite;
  animation-delay: -20s;
}

@keyframes animate{

  0%
  {
    transform: translateX(100%);
  }

  100%
  {
    transform: translateX(-100%);
  }
}

@keyframes animate2{

  0%
  {
    transform: translateX(0%);
  }

  100%
  {
    transform: translateX(-200%);
  }
}

@media only screen and (max-width:586px){

	.marquee .marquee-text{
    font-size: 4vw;
  }
}

footer {
  margin-top: 1%;
  font-family: Bastardo;
}

#data1 {
  font-size: 1vw; 
  float: left; 
  width: 25%;
  padding-top: 1%;
  padding-bottom: 2%;
}

#data2 {
  font-size: 1vw;
  float: right; 
  text-align: right; 
  width: 25%;  
  padding-top: 1%;
  padding-bottom: 2%;
}

@media only screen and (max-width:1280px){
  #data1 {
  font-size: 1.1vw;
  }

  #data2 {
  font-size: 1.1vw;
  }
}

@media only screen and (max-width:586px){
  #data1 {
		font-size: 2vw;
    }

    #data2 {
		font-size: 2vw;
    }
}

::-webkit-scrollbar {
  display: none;
  }

  