body{
  background-color: #888787;
  display:flex;
  min-height:100vh;
  flex-direction:column;
}

.main-content{flex:1;}

.numUno{
  position: relative;
  color: white; 
  text-align: left;
  font-size: 18vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin:0%;
  margin-top:7%;
  margin-left:20%;
  letter-spacing: -5;
  z-index: 11;
  width: 100%;
  height: auto;

}


.numDue{
  position: relative;
  color: white; 
  text-align: left;
  font-size: 18vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin:0%;
  margin-top:-5%;
  margin-left: 32.5%;
  letter-spacing: -5;
  z-index: 11;
    width: 100%;
  height: auto;
}

.numTre{
  position: relative;
  color: white; 
  text-align: left;
  font-size: 18vw;
  font-weight: 1500;
  font-family: Bastardo;
  margin:0%;
  margin-top:-5%;
  margin-left: 26%;
  letter-spacing: -5;
  z-index: 11;
    width: 100%;
  height: auto;
}

.users {
  position:absolute;
  color:white;
  margin-top:10%;
  font-family:Helvetica;
  font-size: 1.5vw;
  font-weight: 300;
    width: 100%;
  height: auto;
}

.ickss {
  position:absolute;
  color:white;
  margin-top:24.5%;
  font-family:Helvetica;
  font-size: 1.5vw;
  font-weight: 300;
  width: 100%;
  height: auto;
}

.challenges {
  position:absolute;
  color:white;
  margin-top:38.5%;
  font-family:Helvetica;
  font-size: 1.5vw;
  font-weight: 300;
  width: 100%;
  height: auto;
}

.hash {
  position:absolute;
  margin-top:-73%;
  margin-left: 32%;
  z-index: 10;
  width: 100%;
  height: auto;
  transform: scale(0.25);
}

.exla {
  position:absolute;
  margin-top:-185%;
  margin-left: 12%;
  z-index: 12;
  width: 100%;
  height: auto;
  transform: scale(0.07);
}

.rankingss {
  position:relative;
    margin-left: 2.5%;
    transform: scale(0.9);
    width: 100%;
    height: auto;
  }

.ticker {
	--size: 54ch;
	font-size: 2em;
	font-weight: light;
  margin-top: -1.2%;
	will-change: transform;
  text-align: center;
	animation: ticker 8s infinite linear;
	text-shadow:
		calc( var(--size) + 0.5em ) 0 currentcolor,	
		calc( (var(--size) + 0.5em) * 2 ) 0 currentcolor
	;
}

.ticker-container {
  width: 100%;
  height: 100%;
	overflow: hidden;
  padding: 2%;
  outline: 3px solid black;
}

.title {
  font-family: Bastardo;
  font-size: 27pt;
  font-weight: 800;  width: 100%;
  height: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.text {
  font-family: Bastardo;
  font-size: 15pt;
}

.row {
  border-top-style: solid;
  border-top-width: 1px;
  padding: 10px;
  height: 40px;
}

.row.white{
  color: #ffffff;
}

.row.green{
  color: #8ee006;
}

.ranking {
  margin-right: 15%;
  float: left;
  padding: 10px;
  content: 2%;
}

img.players {
  width: 40px;
  float: left;
}

.username {
  float: left;
  margin-left: 10px;
  border-left-style: solid;
  border-left-width: 1px;
  padding: 10px;
  font-weight: bold;
}

.icks {
  float: right;
  padding: 10px;
}

hr {
  width: 100%;
  height:1px;
  border:none;
  color:rgb(0, 0, 0);
  background-color:rgb(0, 0, 0);
}

footer {
  margin-top: 2%;
}

#data1 {
  font-size: 0.8vw; 
  float: left; 
  width: 25%;
  padding-top: 1%;
  padding-bottom: 2%;
}

#data2 {
  font-size: 0.8vw;
  float: right; 
  text-align: right; 
  width: 25%;  
  padding-top: 1%;
  padding-bottom: 2%;
}


@keyframes ticker {
	to {
		transform: translateX( calc( (var(--size) + 0.5em) * -1 ) )
	}
}

@media only screen and (max-width:586px){

	.numUno{
		font-size:30vw;
    text-align: left;
    margin-left: 28vw;
    margin-top: 13vh;
    
	}

  .numDue{
		font-size:30vw;
    margin-left: -3vw;
    margin-top: 3vh;
    text-align: left;
    
	}

  .numTre{
		font-size:30vw;
    margin-left: -3vw;
    margin-top: 3vh;
    text-align: left;
    
    
	}
}

@media only screen and (max-width:586px){

	.users{
    text-align:right;
		font-size:2.5vw;
    font-weight: 500;
    margin-top:10vh;
    margin-left: -3vh;
	}

  .ickss{
      text-align:right;
      font-size:2.5vw;
      font-weight: 500;
      margin-top:28vh;
      margin-left: -3vh;
	}

  .challenges{
    text-align:right;
    font-size:2.5vw;
    font-weight: 500;
    margin-top:46vh;
    margin-left: -3vh;
	}

  .exla{
    margin-left: 45vw;
    margin-top: -200%;
    transform:scale(0.09);
  }

  .hash{
    margin-top: -145%;
    margin-left: -15%;

  }
}

@media only screen and (max-width:1280px){
  #data1 {
    font-size: 1.1vw;
    }
  
    #data2 {
    font-size: 1.1vw;
    }
  }
  
  @media only screen and (max-width:586px){
    footer{
      display: none;
    }
  }
  