::selection{
	background: black;
	color: #8ee002;
	text-shadow:none
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

::-webkit-scrollbar {
  display: none;
  }

  body, html {
    overflow-x: hidden;
    }
    
body {
  display:flex;
  min-height:100vh;
  flex-direction:column;
  background-color: #DDDDDD;
  cursor:url(../static/cursors/cursor-2.png) 25 25, pointer;
  overflow-x: hidden;
  position: relative;
  }

  .main-content{flex:1;}

  .a:hover{
    cursor:url(../static/cursors/cursor.png) 25 25, pointer;
  }

  .closeButton{
    width: 3%;
    float: right;
    right: 2%;
    top: 4%;
    position: absolute;
    z-index: 100;
    cursor:url(../static/cursors/cursor.png) 25 25, pointer;
  }
  
  iframe {
    width: 70%;
    float: left;
    border-style: none;
    position: absolute;
  }
  
  .wireframe{
    float: left;
    position: relative;
  }
  
  .background{
    position: absolute;
    width: 65%;
    z-index: -1;
    margin-left: 5%;
    margin-top: 3%;
  }
  
  .simbol{
    position: absolute;
    width: 4%;
    margin-left: 5.5%;
    margin-top: 38%;
    float: right;
    opacity: 0.5;
  }

  .link-box{
    width: 15%;
    float: right;
    margin-right:2%;
    margin-top: 10%;
  }

  .link{
    width: 100%;
    padding-top: 4%;
    border-top: black 1px solid;
    cursor:url(../static/cursors/cursor.png) 25 25, pointer;
  }

  .link2{
    color: black;
    text-decoration: underline;
    z-index: 200;
  }

  .link2:hover{
    color: #9b9b9b;
    cursor:url(../static/cursors/cursor.png) 25 25, pointer;
  }

  .title {
    color: black; 
    text-align: left;
    font-size: 2vw;
    font-family: Bastardo;
    font-weight: bold;
    height: auto;
  }
  
  .text {
    color: rgb(0, 0, 0); 
    text-align: left;
    font-size: 2vw;
    font-family: Bastardo;
    font-weight: 500;
    height: auto;
    width: 60%;
    margin-top:2%;
  }
  
  .description-box{
    position: relative;
    float: left;
  }
  
  .price{
    font-size: 3vw;
    float: right;
    font-weight: bold;
    font-family: Bastardo;
  }
  
  .buybox{
    width: 20%;
    position: relative;
    float: right;
    margin-right: 2%;
  }
  
  .quantity{
    width: 30%;
    border: solid 1px black;
    display: block;
    float: right;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .addToCart{
    width: 65%;
    margin-left:0%;
    border: solid 1px black;
    display: block;
    float: left;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .soonAvailable{
    width: 100%;
    clear: right;
    background-color: black;
    display: block;
    float: right;
    margin-top: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .input-text{
    color: rgb(0, 0, 0); 
    text-align: center;
    font-size: 1.6vw;
    font-family: Bastardo;
    font-weight: 500;
    height: auto;
  }
  
  #cross{
    position: absolute;
    float: left;
    display: block;
    right: 0;
    width: 25%;
    z-index: 2;
  }
  
  @media only screen and (max-width:586px){

    .closeButton{
      width: 5%;
    }

    .simbol{
      width: 10%;
      margin-left: 1%;
      margin-top: 58%;
    }

    .link-box{
      display: none;
    }

    .title {
      font-size: 4.5vw;
    }
    
    .text {
      font-size: 3.5vw;
      width: 100%;
    }

    .input-text{
      font-size: 3vw;
    }
    
    .price{
      font-size: 4.5vw;
      margin-top: 10%;
    }
    
    .buybox{
      width: 98%;
      margin-top: 25%;
      position: absolute;
    }
  
    .addToCart{
      width: 67.5%;
      margin-left:0%;
    }
  
    .soonAvailable{
      margin-top: 1.5%;
    }
    
    #cross{
      width: 98%;
      margin-top: 25%;
    }

    .background{
      width: 98%;
      margin-left: 1%;
    }
  }
  
  


  
  #louder-wireframe{
    width: 6%;
    margin-top: 15%;
  }
  
  #louder-iframe{
    height: 80vw;   
    margin-left: 0%;
    margin-top: -10%;
  }
  
  #louder-description{
    margin-top:4%;
  }

  @media only screen and (max-width:586px){
    #louder-description{
      margin-top:100%;
    }

    
    #louder-wireframe{
      display: none;
    }
  
    #louder-iframe{
      height: 160vw;  
      margin-left: 0%;
      width: 100%;
      margin-top: -10%;
    }
  }
  



  
  #faster-wireframe{
    width: 6%;
    margin-top: 18%;
  }
  
  #faster-iframe{
    height: 55vw;  
    margin-left: 0%;
  }
  
  #faster-description{
    margin-top: 4%;
  }
  
  @media only screen and (max-width:586px){
    #faster-description{
      margin-top: 100%;
    }
  
    #faster-wireframe{
      display: none;
    }
  
    #faster-iframe{
      height: 100vw;   
      margin-left: 10%;
      margin-top: 5%;
    }
  }
  



  
  #stronger-wireframe{
    width: 10%;
    margin-top: 22%;
  }
  
  #stronger-iframe{
    height: 60vw;  
    margin-left: 0%;
    margin-top: -2%;
  }
  
  #stronger-description{
    margin-top: 4%;
    display: block;
    float: left;
  }
  
  #stronger-background{
    margin-left: 3%;
  }
  
  @media only screen and (max-width:586px){
    #stronger-description{
      margin-top: 90%;
    }

    #stronger-wireframe{
      display: none;
    }
  
    #stronger-iframe{
      height: 120vw; 
      margin-left: 0%;
      width: 100%;
    }

    #stronger-background{
      margin-left: 0%;
    }
  }
  




  .angrier-wireframe{
   float: left;
   clear: left;
  }
  
  #angrier-render{
    width: 75%;
    margin-left: 0%;
    margin-top: 4%;
  }
  
  #angrier-background{
    float: right;
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
   }
  
   #angrier-description{
     margin-top: 7%;
    float: left;
    width: 100%;
   }
  

   @media only screen and (max-width:586px){
    #angrier-render{
      width: 100%;
      margin-left: 0%;
      margin-top: 12%;
    }
  
    #angrier-background{
      width: 100%;
      margin-left: 0%;
    }
  
    #angrier-description{
      margin-top: 80%;
    }
  }
  





  hr {
    width: 100%;
    height:1px;
    border:none;
    color:rgb(0, 0, 0);
    background-color:rgb(0, 0, 0);
  }

footer {
    margin-top: 1%;
    font-family: Bastardo;
  }
  
  #data1 {
    font-size: 1vw; 
    float: left; 
    width: 25%;
    padding-top: 1%;
    padding-bottom: 2%;
  }
  
  #data2 {
    font-size: 1vw;
    float: right; 
    text-align: right; 
    width: 25%;  
    padding-top: 1%;
    padding-bottom: 2%;
  }

  @media only screen and (max-width:1280px){
    #data1 {
    font-size: 1.1vw;
    }
  
    #data2 {
    font-size: 1.1vw;
    }
  }
  
  @media only screen and (max-width:586px){
    #data1 {
          font-size: 2vw;
      }
  
      #data2 {
          font-size: 2vw;
      }
  }
  
  
    